<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'category.css'%}" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap");
    </style>
  </head>
  <body>
    <h2>{{category}} 글 전체 목록</h2>
    <ul>
      {% for article in articles %}
      <ul>
        <li><a href="{% url 'detail' article.id %}">{{article.title}}</a></li>
      </ul>
      {% endfor %}
    </ul>
  </body>
</html>
